.card {
    padding-bottom: 84px;

    // @media only screen and (min-width: 768px) {
    //     padd
    // }

&__header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
&__header-images {
    display: none;
    

    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        column-gap: 33px;
    }
}

&__title1 {
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    font-size: 28px;
    color: rgba($primary-color, 0.9);
    margin-bottom: 40px;

    @media only screen and (min-width: 768px) {
        font-size: 32px;
        text-align: left;
    }


}

&__content {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    align-items: center;
    // padding-left: 20px;
    // padding-right: 20px;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        column-gap: 33px;
        justify-content: space-between;
    }
}

&__wrap {
    background: rgba(254, 227, 207, 0.5);
    box-shadow: 4px 4px 10px rgb(255, 239, 223);
    border-radius: 18.8556px;
    padding: 61px 40px;
    margin-bottom: 20px;
    text-align: center; 
    font-weight: 500;
    max-width: 500px;
    
    @media only screen and (min-width: 768px) {
        max-width: 348px;
    }

&.bg-blue {
    background: rgba(79, 146, 182, 0.95);
    box-shadow: 4px 4px 20px rgba(79, 146, 182, 0.7);
    border-radius: 20px;

    &__title {
        color: rgb(238, 230, 220);
    }

    &__text {
        color: rgba(238, 230, 220, 0.9);
    }
}
}

&__image {
    height: 92px;
    width: 92px;
    margin-bottom: 21px;
}

&__title {
    margin-bottom: 20px;
    color: rgba($primary-color, 0.85);
    font-size: 22px;
    font-weight: 500;
}

&__text {
    color: rgba($primary-color, 0.75);
    font-size: 16px;
}


}
