.quote {
  display: flex;
  flex-direction: column;
  column-gap: 80px;
  row-gap: 32px;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgba(163, 142, 129, 0.1);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  &__image-wrapper {
    max-width: 525px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__text-wrapper {
    max-width: 590px;
  }


  &__text-quote {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: rgba($primary-color, 0.9);
    margin-bottom: 10px;
  }

  &__text-name {
    font-size: 28px;
    font-weight: 700;
    color: rgba($primary-color, 0.95);
  }
}